body
{
  overflow-y: auto;
  margin-bottom: 0%;
  background-image: url("https://file.garden/Yhwc9XZFah3TM9iw/yellow-plaid.gif");
}

h1
{
  color: navy;
}
/* Taken from TLL lmao */
body, html, div
{
	font-family:"Malgun Gothic", sans-serif;
	font-size:15px;
}

.main
{
  position: relative;
  margin: auto;
  bottom: -5px;
  right: 0;
  left: 0;
  background-color: lightgrey;
  width: 50%;
  height: 260px;
  border: 7px ridge #f2f2f2;
  padding: 5px;
  text-shadow: 1px 1px 1px #5b5b5b;
	border-radius: 3px;
	display: block;
	text-align: center;
}
