body
{
	overflow-y: auto;
	margin-bottom: 0%;
	background-image: url("https://file.garden/Yhwc9XZFah3TM9iw/yellow-plaid.gif");
	padding-bottom: 100px;
}

h1
{
	color: navy;
}

body, html, div
{
	font-family:"Malgun Gothic", sans-serif;
	font-size:15px;
}

.main
{
	position: relative;
	margin: auto;
	bottom: -5px;
	right: 0;
	left: 0;
	background-color: lightgrey;
	width: 50%;
	height: 150px;
	border: 7px ridge #f2f2f2;
	padding: 5px;
	text-shadow: 1px 1px 1px #5b5b5b;
	border-radius: 3px;
	display: block;
	text-align: center;
}
.secondary
{
	position: relative;
	margin: auto;
	bottom: -10px;
	right: 0;
	left: 0;
	background-color: lightgrey;
	width: 50%;
	height: 260px;
	border: 7px ridge #f2f2f2;
	padding: 5px;
	text-shadow: 1px 1px 1px #5b5b5b;
	border-radius: 3px;
	display: block;
	text-align: center
}
.quaternary
{
	position: relative;
	margin: auto;
	bottom: -10px;
	right: 0;
	left: 0;
	background-color: grey;
	width: 50%;
	height: 260px;
	border: 7px ridge #bababa;
	padding: 5px;
	text-shadow: 1px 1px 1px #5b5b5b;
	border-radius: 3px;
	display: block;
	text-align: center
}

.igm
{
	position: relative;
	margin: auto;
	bottom: -10px;
	right: 0;
	left: 0;
	background-color: #3bc995;
	width: 50%;
	height: 52px;
	border: 7px ridge #2cffb1;
	padding: 5px;
	text-shadow: 1px 1px 1px #5b5b5b;
	border-radius: 3px;
	display: block;
	text-align: center;
}
.scratch
{
	position: relative;
	margin: auto;
	bottom: -10px;
	right: 0;
	left: 0;
	background-color: #dccc23;
	width: 50%;
	height: 52px;
	border: 7px ridge #ffc800;
	padding: 5px;
	text-shadow: 1px 1px 1px #5b5b5b;
	border-radius: 3px;
	display: block;
	text-align: center;
}

.special
{
	position: relative;
	margin: auto;
	bottom: -10px;
	right: 0;
	left: 0;
	background-color: darkviolet;
	width: 50%;
	height: 52px;
	border: 7px ridge #a13cff;
	padding: 5px;
	color: white;
	text-shadow: 1px 1px 1px #5b5b5b;
	border-radius: 3px;
	display: block;
	text-align: center
}
.bottom-bar
{
	position: fixed;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #ceb300;
	width: 97.9%;
	height: 20px;
	border: 7px ridge #ffde00;
	padding: 10px;
	text-shadow: 1px 1px 1px #5b5b5b;
	text-align: center;
	border-radius: 3px;
	display: block;
	z-index: 1000;
}

.header
{
	background-color: lightgrey;
	border: 7px ridge #f2f2f2;
	padding: 20px;
	text-shadow: 1px 1px 1px #5b5b5b;
	border-radius: 3px;
	display: block;
	text-align: center;
	z-index: 500;
}

a:link
{
	color: darkorange;
}
a:visited
{
	color: orange;
}
a:hover
{
	color: gold;
}
a:active
{
	color: sandybrown;
}

.topnav
{
	position: sticky;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: #ce7c00;
	border: 7px ridge #ff9900;
	text-shadow: 1px 1px 1px #5b5b5b;
	width: 40%;
	border-radius: 3px;
	display: block;
	z-index: 450;
}
.topnav a
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a:hover
{
	background-color: #ffc773;
	color: black;
}
.active
{
	background-color: #ffcf75;
}

.buttonIGM1-1
{
	width: 2%;
	text-align: right;
}
